<!--
   - base.html The Photo Album Team
!-->



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--	xmlns:fb="http://www.facebook.com/2008/fbml">


<head>
{% block script %}{% endblock %}
        <!-- website title (loaded dynamically) -->
        <title>{% block title %}The Photo Album 2012{% endblock %}</title>

        <!-- meta definitions -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Photo Album" />
        <meta name="keywords" content="Online photo album, photo share" />
    <!--    <meta name="author" content="The Photo Album Team" /> -->
        <meta name="allow-search" content="yes" />
        <meta name="robots" content="follow,index" />

        <!-- common stylesheet for all templates -->
        <link rel=stylesheet href="/static/css/style.css" type="text/css" />
    <!--    <link rel=stylesheet href="/static/css/navi.css" type="text/css" />
        <link rel=stylesheet href="/static/css/search.css" type="text/css" /> -->

        <!-- Javascript functionality -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script src="/static/js/validate.js"></script>
        <script src="/static/js/formvalidation.js"></script>
        {% block extra_head %}{% endblock %}
</head> 
    
    <body>
  
    	
    {% block 'content' %}
        <div id="wraper">
            <!-- top-bar navigation -->
            {% block header %}
            <div id="nav-menu">
                <ul id="nav"> 
                    <li class="logo">
                        <div id="logo">
                            <img src="/static/images/logo.png" alt="logo" onclick="window.location.href='/';" />
                        </div>
                    </li>
            <!--        <li class="search">
                        <form class="searchform" action="/search" method="get">
                            {% csrf_token %}
                            <input class="searchfield" name="query" type="text"
                                   title="searchbox" value="Search..."
                                   onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" /> 
                            <input class="searchbutton" type="submit" value="Go" /> 
                        </form>
                    </li> -->
                
                    {% if request.user.is_authenticated %}
                    <li><a href="/editProfile">{{ request.user.username }}</a> 
                        <ul>
                            <li><a href="/signout">Sign out</a></li>
                        </ul> 
                    </li> 


                    {% else %}
          <!--              <li><a href="/signup">Sign up</a></li> -->
                    {% endif %}
                </ul> 
            </div>
            {% endblock %}
            
            <div id="content">
                {% block main_content %}{% endblock %}
            </div>
        
            <div id="footer">
                {% block footer %}
                    &copy;2012 The Photo Album Team, Finland<br/>
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </body> 
</html>
