<!--
   - main.html
   -
   - Main menu of the application. Displayed after logging in.
   -
-->
{% extends "base.html" %}

{% block title %} Welcome to Photo Album! {% endblock %}



<!-- main content -->
{% block main_content %}
    <!-- welcome the user, if authenticated -->
    {% if request.user.is_authenticated %}
        <h2>Welcome {{ request.user.username }}!</h2>
    {% else %}
        <h2>Welcome to PhotoAlbum</h2>
		
		<div class="centered">
			<table>
			{% for album in albums %}
				<tr>
					<td rowspan="2" class="album">
						<a href="/album/{{ album.id }}/"> <img class="product-pic" src="/static/images/products/{{ album.coverid }}" ></a>
					</td>
					<td class="product">
						<div class="title"><a href="/product/{{ album.id }}/">{{ album.name }}</a></div>
						{{ product.description }}
					</td>				
				</tr>
			{% endfor %}
			</table>
		</div>
    {% endif %}

    <!-- regular descriptive text of the website for everybody -->
    <p>
        Be the first one to comment and rate on the
        coolest photos.
    </p>
    <p><br /></p>

    <!-- let new users to easily join our network -->
    {% if not request.user.is_authenticated %}
    <p>
        If you already have an account on PhotoAlbum, just <a href="/signin">sign
        in</a> and view your photos.
    </p>
    
    <p>
        If you don't have yet an account on PhotoAlbum, <a href="/signup">sign up
        right now</a> and start creating your albums.
    </p>
	<br/>
    {% endif %}
	
{% endblock %}
